<div class="container">
  <appinit-title title="Bienvenido(a)" subTitle="Aqui puedes visualizar el inicio de la prueba para explorar la lista de Pokémons.">
    <p class="title-description mt-4">
      ¡Ingresa al listado pokemons en el menu lateral!
    </p>
  </appinit-title>

  <div class="custom-title">
    <img src="assets/img/pokemon_logo.png" alt="pokemon logo pic" class="pokemon-img-container img-fluid">
    <img src="assets/img/pokeball.png" alt="pokeball logo pic" class="img-fluid pokeball-img-container mt-4">
  </div>
</div>