<div class="my-5">
  <div class="d-flex justify-content-center mt-4 mb-4">
    <h2>
      Detalle de {{ name | titlecase }}

      @if (pokemonDetail()) {
        <img [src]="pokemonDetail()?.pictures?.at(-1)" alt="pokemon pic" class="w-picture-detail">
      }
    </h2>
  </div>

  @if (pokemonDetail()) {
    <div class="row">
      <div class="col-md-6">
        <appinit-card [title]="'Movimientos de ' + name">
          <div class="d-flex justify-content-center py-4">
            <mat-chip-set>
              @for (move of pokemonDetail()?.moves; track move) {
                <mat-chip>
                  <img matChipAvatar [src]="pokemonDetail()?.pictures?.at(-1)" alt="pokemon pic chip" class="w-picture-detail" />
                  {{ move }}
                </mat-chip>
              }
            </mat-chip-set>
          </div>
        </appinit-card>
      </div>
      <div class="col-md-6">
        <appinit-card [title]="'Imagenes de ' + name">
          <div class="d-flex justify-content-center py-4 flex-wrap">
            @for (picture of pokemonDetail()?.pictures; track picture) {
              <img [src]="picture" [alt]="'Pokemon ' + name">
            }
          </div>
        </appinit-card>
    
        <appinit-card [title]="'Habilidades de ' + name">
          <div class="d-flex justify-content-center py-4">
            <mat-chip-set>
              @for (ability of pokemonDetail()?.abilities; track ability) {
                <mat-chip>
                  <img matChipAvatar [src]="pokemonDetail()?.pictures?.at(0)" alt="pokemon pic chip" class="w-picture-detail" />
                  {{ ability }}
                </mat-chip>
              }
            </mat-chip-set>
          </div>
        </appinit-card>
      </div>
    </div>
  }

  <div class="d-flex justify-content-center my-5">
    <button mat-raised-button (click)="return()">
      Regresar
    </button>
  </div>
</div>
