<div class="my-5">
  <appinit-title [title]="name | titlecase" [subTitle]="'Aqui puedes explorar mas el detalle del pokemon ' + name + '.'">
    @if (pokemonDetail()) {
      <div class="d-flex justify-content-center py-4 flex-wrap">
        @for (picture of pokemonDetail()?.pictures; track picture) {
          <img [src]="picture" [alt]="'Pokemon ' + name" loading="lazy">
        }
      </div>
    }
  </appinit-title>

  @if (pokemonDetail()) {
    <div class="row justify-content-center">
      <div class="col-md-6">
        <appinit-card [title]="'Descripción general'">
          <div class="d-flex align-items-baseline my-4">
            @if (pokemonDetail() && pokemonDetail()!.types.length > 0) {
              <div class="me-3">
                <p>Tipo</p>
              </div>

              <mat-chip-set>
                @for (type of pokemonDetail()!.types; track type) {
                  <mat-chip>
                    {{ type }}
                  </mat-chip>
                }
              </mat-chip-set>
            }
          </div>

          <div class="d-flex align-items-baseline my-4">
            <div class="me-3">
              <p>Stats</p>
            </div>
            @if (pokemonDetail() && pokemonDetail()!.stats.length > 0) {
              <mat-chip-set>
                @for (stat of pokemonDetail()!.stats; track stat) {
                  <mat-chip>
                    {{ stat.name }}: {{ stat.stat }}
                  </mat-chip>
                }
              </mat-chip-set>
            }
          </div>
        </appinit-card>
    
        <appinit-card [title]="'Habilidades de ' + name">
          <div class="d-flex justify-content-center py-4">
            <mat-chip-set>
              @for (ability of pokemonDetail()?.abilities; track ability) {
                <mat-chip>
                  {{ ability }}
                </mat-chip>
              }
            </mat-chip-set>
          </div>
        </appinit-card>
      </div>

      <div class="col-md-6">
        <appinit-card [title]="'Movimientos de ' + name">
          <div class="d-flex justify-content-center py-4">
            <mat-chip-set>
              @for (move of pokemonDetail()?.moves; track move) {
                <mat-chip>
                  {{ move }}
                </mat-chip>
              }
            </mat-chip-set>
          </div>
        </appinit-card>
      </div>
    </div>
  }

  <div class="d-flex justify-content-center my-5">
    <button mat-raised-button (click)="return()">
      Regresar
    </button>
  </div>
</div>
